.feature4 {
  display: flex;
  flex-direction: row-reverse;
  background-color: black;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 12rem;
  gap: 100px;
}

.left-children {
  color: white;
  width: 100%;
}

.left-children h1 {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.left-children h3 {
  font-size: 1.625rem;
  font-weight: 300;
}

.right-children {
  position: relative;
}

.right-children img {
  width: 900px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.right-children-img {
  position: absolute;
  width: 363px;
  right: 70px;
  top: 78px;
  z-index: 2;
}

.downloading-preview {
  display: flex;
  border: 2px solid #3c3c3c;
  border-radius: 20px;
  padding: 10px;
  background-color: black;
  align-items: center;
  gap: 20px;
  width: 350px;
  position: absolute;
  bottom: 20px;
  left: 10%;
}

.downloading-banner {
  width: 50px;
  max-width: 100%;
  max-height: 100%;
}

.downloading {
  display: flex;
  align-items: center;
  gap: 60px;
}

.downloading-content h3 {
  color: white;
  font-size: 17px;
}

.downloading-content p {
  color: #006edf;
}

.downloading-logo {
  width: 50px;
}

@media screen and (max-width: 1200px) {
  .feature4 {
    padding: 4rem 4rem;
  }
}

@media screen and (max-width: 1024px) {
  .feature4 {
    padding: 4rem 2rem;
    flex-direction: column;
  }

  .left-children {
    text-align: center;
  }

  .left-children h1 {
    font-size: 2.8rem;
  }

  .left-children h3 {
    font-size: 1.3rem;
  }

  .right-children img {
    width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .left-children h1 {
    font-size: 2rem;
  }

  .left-children h3 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 425px) {
  .feature4 {
    padding: 4rem 1rem;
  }
}
